<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lists</title>
    <script src="../vue.min.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ foo }}</p>
        <p>
            <ul><li v-for="name in names">{{ name }}</li></ul>
            <input type="text" v-model="newname"><button @click="addName">add name</button>
        </p>
    </div>
    <script>
        Vue.config.devtools = true;

        // 在console里面打印app变量: app.names.push("sbjsw")
        var app = new Vue({
            el: '#app',
            data: {
                foo: 'bar',
                names: ['joe', 'jane', 'nick'],
                newname: ""
            },
            methods: {
                addName () {
                    if (!this.newname) {
                        return alert('plean input your name');
                    }

                    this.names.push(this.newname);
                    this.newname = '';

                }
            }
        })

    </script>
</body>
</html>